body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
html {
  height: 100%;
  background: #000038;
  background: -webkit-linear-gradient(90deg,#002a4a,#000037);
  overflow: hidden;
}
button, p, div, span, ul, li {
    margin: 0;
    padding: 0;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
/* swiper框架 */
.swiper-container {
  height: 100%;
  font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
.swiper-wrapper {
  height: 100%;
  position: relative;
}
.swiper-slide {
  transition: 800ms;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
}
/* 向下箭头 */
.arrow {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  z-index: 10;
  bottom: 1rem;
  left: 50%;
  margin-left: -0.625rem;
  font-size: 1rem;
}
.arrow img {
  width: 1.25rem;
  height: 1.25rem;
}
/* 画布流星 */
.stars {
  position: absolute;
  top: 0;
  left: 0; 
}
.img {
  position: absolute;
  top: 0.2rem;
  left: 0.36rem; 
  width: 96%;
}

/* 第一页 */
.first {
  background-size: cover;
  position: relative;
}
.first img {
  position: absolute;
}
.first .spom1 {
  width: 12.125rem;
  height: 12.125rem;
  position: absolute;
  top: 5rem;
  left: 1.92rem;
}
.first .spom2 {
  width: 11.292rem;
  height: 12.354rem;
  top: 3.884rem;
  left: 2.328rem;
}
.first .spom3 {
  width: 10.708rem;
  height: 2.792rem;
  left: 2.458rem;
  top: 15.4rem;
}
.first .spom4 {
  width: 10.708rem;
  left: 2.458rem;
  top: 19.4rem;
}
.first p {
  text-align: center;
  font-size: 0.72rem;
  font-weight: 100;
  margin-top: 21.4rem;
}
.first .btn {
  position: absolute;
  top: 23.4rem;
  left: 25%;
  width: 50%;
  height: 1.48rem;
  border: none;
  outline: none;
  border-radius: 0.74rem;
  color: #fff;
  font-size: 0.72rem;
  box-shadow: 0 0.2rem 0.2rem #00001f;
  background-color: #f6b617;
  background: -webkit-linear-gradient(0deg,#f7d100,#db8900);
}
.first .btn:active {
  opacity: 0.8;
}

/* 第二页 */
.second {
  background-size: cover;
  position: relative;
}
.second img {
  position: absolute;
}
.second .second-img1 {
  width: 13rem;
  right: 0;
  top: 13rem;
}
.second .second-img11 {
  width: 1.479rem;
  left: 5.136rem;
  top: 17.404rem;
}
.second .second-img111 {
  width: 2.251rem;
  right: 1.836rem;
  top: 20.804rem;
}
.second .second-img2 {
  width: 100%;
  right: 0;
  bottom: 0;
}
.second .second-img3 {
  width: 3.48rem;
  right: 1rem;
  top: 8rem;
}
.second .second-img4 {
  width: 1.28rem;
  left: 2rem;
  top: 24rem;
}
.second .second-img5 {
  width: 1.48rem;
  left: 0;
  top: 12rem;
}
.second .second-img6 {
  width: 3.8rem;
  right: 2.56rem;
  top: 17.6rem;
}
.second p {
  font-size: 0.72rem;
  line-height: 1.48rem;
}
.second p span {
  font-size: 0.8rem;
  color: #ffc000;
}
.second .data {
  margin-left: 1rem;
  margin-top: 4.8rem;
}

/* 第三页 */
.third {
  background-size: cover;
  position: relative;
}
.third img {
  position: absolute;
}
.third .third-img1 {
  width: 2.88rem;
  left: 1rem;
  top: 10.8rem;
}
.third .third-img2 {
  width: 3.08rem;
  right: 1rem;
  top: 5rem;
}
.third .third-img3 {
  width: 3.68rem;
  right: 1.2rem;
  top: 12.12rem;
}
.third .third-img4 {
  width: 100%;
  left: 0;
  bottom: 0;
}
.third .figure {
  position: absolute;
  width: 14rem;
  bottom: 3.2rem;
  left: 1rem;
  border-radius: 0.6rem;
  background: rgb(163, 175, 233, 0.2);
}
.figure .figure-line {
  margin: 1rem 0 0 1rem;
  display: inline-block;
  width: 12rem;
  border-bottom: 1px solid #485d8e;
  position: relative;
}
.figure-line ul.fr {
  margin-bottom: -1px;
}
.figure-line ul.fr li {
  height: 1rem;
  border-bottom: 1px dashed #485d8e;
}
.figure-line ul.ls {
  width: 12rem;
  height: 6rem;
  position: absolute;
  bottom: 1rem;
}
.figure-line ul.ls li {
  display: inline-block;
  width: 1.6rem;
  margin: 0 0.56rem;
  border-radius: 0.2rem 0.2rem 0 0;
  background-color: #ffc000;
  position: relative;
  bottom: 0;
}
.figure-line ul.ls li span {
  width: 1.6rem;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -1.2rem;
  font-size: 0.56rem;
}
.figure-bottom {
  margin-left: 1rem;
  margin-bottom: 0.6rem;
  width: 12rem;
  line-height: 0.6rem
}
.figure-bottom ul li {
  display: inline-block;
  width: 2.74rem;
  text-align: center;
  position: relative;
  font-size: 0.56rem;
}
.third p {
  font-size: 0.72rem;
  line-height: 1.48rem;
}
.third p span {
  font-size: 0.8rem;
  color: #ffc000;
}
.third .data {
  margin-left: 1rem;
  margin-top: 4.8rem;
}

/* 第四页 */
.fourth {
  background-size: cover;
  position: relative;
}
.fourth img {
  position: absolute;
}
.fourth .score {
  margin-left: 1rem;
  margin-top: 4.8rem;
}
.fourth .suggest {
  margin-left: 1rem;
  margin-top: 4.8rem;
}
.fourth p {
  font-size: 0.72rem;
  line-height: 1.48rem;
}
.fourth strong {
  display: inline-block;
  font-size: 0.56rem;
  padding: 0.4rem;
  margin: 0.6rem 0.24rem 0 0;
  background-color: #212a60;
  border-radius: 0.48rem;
  font-weight: 100;
  color: #ced9f7;
}
.fourth .btn {
  position: absolute;
  top: 23.4rem;
  left: 25%;
  width: 50%;
  height: 1.48rem;
  border: none;
  outline: none;
  border-radius: 0.74rem;
  color: #fff;
  font-size: 0.72rem;
  box-shadow: 0 0.2rem 0.2rem #00001f;
  background-color: #f6b617;
  background: -webkit-linear-gradient(0deg,#f7d100,#db8900);
}
.fourth .btn:active {
  opacity: 0.8;
}

/* 第五页 */
.fifth {
  background-size: cover;
  position: relative;
}
.fifth img {
  position: absolute;
}
.fifth .fifth-img1 {
  width: 6.25rem;
  top: 5rem;
  left: 4.73rem;
}
.fifth .fifth-img2 {
  width: 10.21rem;
  top: 7.5rem;
  left: 2.71rem;
}
.fifth .fifth-img3 {
  width: 1.52rem;
  top: 21.604rem;
  right: 2.375rem;
}
.fifth .fifth-img4 {
  width: 1.5rem;
  top: 22.104rem;
  left: 3.208rem;
}
.fifth .fifth-img5 {
  width: 0.75rem;
  top: 22.979rem;
  left: 7.396rem;
}
.fifth .fifth-img6 {
  width: 0.75rem;
  top: 19.75rem;
  left: 4.604rem;
}
.fifth .fifth-img7 {
  width: 1.354rem;
  top: 17.229rem;
  right: 1.02rem;
}
.fifth .fifth-img8 {
  width: 1.875rem;
  top: 13.396rem;
  left: 1.313rem;
}
.fifth .fifth-img9 {
  width: 1.208rem;
  top: 19.708rem;
  right: 2.979rem;
}
.fifth .fifth-img10 {
  width: 1.188rem;
  top: 15.771rem;
  left: 2.917rem;
}
.fifth .fifth-img11 {
  width: 1rem;
  top: 14.808rem;
  right: 2.479rem;
}
.fifth .fifth-img12 {
  width: 1.146rem;
  top: 15.75rem;
  right: 2.979rem;
}
.fifth .fifth-img13 {
  width: 2rem;
  top: 17.042rem;
  left: 5.375rem;
}
.fifth .fifth-img14 {
  width: 7.479rem;
  top: 10.708rem;
  left: 4.021rem;
}
.fifth .fifth-img15 {
  width: 1.146rem;
  top: 10.896rem;
  right: 3.229rem;
}
.fifth .fifth-img16 {
  width: 0.688rem;
  top: 15.25rem;
  left: 0.917rem;
}

.fifth .fifth-img17 {
  width: 14.48rem;
  top: 17.04rem;
  left: 0.75rem;
}
.fifth .fifth-img18 {
  width: 5.979rem;
  top: 13.833rem;
  left: 4.875rem;
}
