body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
html {
  height: 100%;
  background: #000038;
  background: -webkit-linear-gradient(90deg,#002a4a,#000037);
  overflow: hidden;
}
button, p, div, span, ul, li {
    margin: 0;
    padding: 0;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
/* swiper框架 */
.swiper-container {
  height: 100%;
  font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  outline: none;
  webkit-focus-ring-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.swiper-wrapper {
  height: 100%;
  position: relative;
}
.swiper-slide {
  transition: 800ms;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
}
/* 向下箭头 */
.arrow {
  position: absolute;
  z-index: 10;
  bottom: 2rem;
  left: 50%;
  margin-left: -0.625rem;
  font-size: .68rem;
}
.arrow span {
  display: block;
  text-align: center;
  margin-left: -1.9rem;
  font-weight: 100;
}
.arrow img {
  width: 1.25rem;
  height: 1.25rem;
}
.arrow2 {
  position: absolute;
  z-index: 10;
  bottom: 2rem;
  left: 50%;
  margin-left: -0.625rem;
  font-size: .68rem;
}
.arrow2 span {
  display: block;
  text-align: center;
  margin-left: -1.9rem;
  font-weight: 100;
}
.arrow2 img {
  width: 1.25rem;
  height: 1.25rem;
}
/* 画布流星 */
.stars {
  position: absolute;
  top: 0;
  left: 0; 
}
.img {
  position: absolute;
  top: 0.2rem;
  left: 0.36rem; 
  width: 96%;
}

/* 第一页 */
.first {
  background-size: cover;
  position: relative;
}
.first img {
  position: absolute;
}
.first .first-spom1 {
  width: 12.125rem;
  height: 12.125rem;
  position: absolute;
  top: 3rem;
  left: 1.92rem;
}
.first .first-spom2 {
  width: 11.292rem;
  height: 12.354rem;
  top: 1.884rem;
  left: 2.328rem;
}
.first .first-spom3 {
  width: 10.708rem;
  height: 2.792rem;
  left: 2.458rem;
  top: 13.4rem;
}
.first .first-spom4 {
  width: 10.708rem;
  left: 2.458rem;
  top: 18.4rem;
}
.first p {
  text-align: center;
  font-size: 0.72rem;
  font-weight: 100;
  margin-top: 20.4rem;
}

/* 第二页 */
.second {
  background-size: cover;
  position: relative;
}
.second img {
  position: absolute;
}
.second .second-img1 {
  width: 13rem;
  right: 0;
  top: 11rem;
}
.second .second-img2 {
  width: 1.479rem;
  left: 5.136rem;
  top: 15.404rem;
}
.second .second-img3 {
  width: 2.251rem;
  right: 1.836rem;
  top: 18.804rem;
}
.second .second-img4 {
  width: 100%;
  right: 0;
  bottom: 0;
}
.second .second-img5 {
  width: 3.48rem;
  right: 1rem;
  top: 6rem;
}
.second .second-img6 {
  width: 1.28rem;
  left: 2rem;
  top: 22rem;
}
.second .second-img7 {
  width: 1.48rem;
  left: 0;
  top: 10rem;
}
.second .second-img8 {
  width: 3.8rem;
  right: 2.56rem;
  top: 15.6rem;
}
.second p {
  font-size: 0.72rem;
  line-height: 1.48rem;
}
.second p span {
  font-size: 0.8rem;
  color: #ffc000;
}
.second .data1 {
  margin-left: 1rem;
  margin-top: 2.8rem;
}

/* 第三页 */
.third {
  background-size: cover;
  position: relative;
}
.third img {
  position: absolute;
}
.third .third-img1 {
  width: 2.88rem;
  left: 1rem;
  top: 10rem;
}
.third .third-img2 {
  width: 3.08rem;
  right: 1rem;
  top: 3rem;
}
.third .alien {
  position: absolute;
  width: 3.438rem;
  height: 4.282rem;
  overflow: hidden;
  left: 6.325rem;
  bottom: 8.35rem;
}
.third .third-img3 {
  width: 3.68rem;
}
.third .third-img4 {
  width: 100%;
  left: 0;
  bottom: 0;
}
.third .third-img5 {
  width: 2.979rem;
  left: 10.313rem;
  bottom: 3.521rem;
}
.third .third-img6 {
  width: 5.833rem;
  left: 5.125rem;
  bottom: 3.083rem;
}
.third .third-img7 {
  width: 4.708rem;
  left: 5.625rem;
  bottom: 7.541rem;
}
.third .third-img8 {
  width: 1.292rem;
  height: 0.5rem;
  left: 0.917rem;
  bottom: 2.021rem;
}
.third .third-img82 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.25rem;
  bottom: 2.25rem;
  z-index: 100;
}
.third .third-img83 {
  width: 1.292rem;
  height: 0.5rem;
  left: 2.063rem;
  bottom: 2.292rem;
}
.third .third-img84 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.938rem;
  bottom: 2.646rem;
}
.third .third-img85 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.979rem;
  bottom: 2.854rem;
}
.third .third-img86 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.938rem;
  bottom: 3.063rem;
}
.third .third-img87 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.938rem;
  bottom: 3.271rem;
}
.third .third-img88 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.979rem;
  bottom: 3.479rem;
}
.third .third-img89 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.979rem;
  bottom: 3.688rem;
}
.third .third-img810 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.979rem;
  bottom: 3.896rem;
}
.third .third-img811 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.938rem;
  bottom: 4.104rem;
}
.third .third-img812 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.979rem;
  bottom: 4.313rem;
}
.third .third-img813 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.979rem;
  bottom: 4.521rem;
}
.third .third-img814 {
  width: 1.292rem;
  height: 0.5rem;
  left: 1.938rem;
  bottom: 4.729rem;
}
.third .third-img815 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.479rem;
  bottom: 2.875rem;
}
.third .third-img816 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.542rem;
  bottom: 3.104rem;
}
.third .third-img817 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.396rem;
  bottom: 3.313rem;
}
.third .third-img818 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.458rem;
  bottom: 3.458rem;
}
.third .third-img819 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.458rem;
  bottom: 3.771rem;
}
.third .third-img820 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.417rem;
  bottom: 3.979rem;
}
.third .third-img821 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.438rem;
  bottom: 4.188rem;
}
.third .third-img822 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.417rem;
  bottom: 4.396rem;
}
.third .third-img823 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.417rem;
  bottom: 4.417rem;
}
.third .third-img824 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.438rem;
  bottom: 4.625rem;
}
.third .third-img825 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.417rem;
  bottom: 4.833rem;
}
.third .third-img826 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.417rem;
  bottom: 5.042rem;
}
.third .third-img827 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.417rem;
  bottom: 5.25rem;
}
.third .third-img828 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.438rem;
  bottom: 5.458rem;
}
.third .third-img829 {
  width: 1.292rem;
  height: 0.5rem;
  left: 3.417rem;
  bottom: 5.667rem;
}
.third .third-img830 {
  width: 1.292rem;
  height: 0.5rem;
  left: 8.271rem;
  bottom: 2.542rem;
}
.third .third-img831 {
  width: 1.292rem;
  height: 0.5rem;
  left: 8.521rem;
  bottom: 2.708rem;
}
.third .third-img832 {
  width: 1.292rem;
  height: 0.5rem;
  left: 9.771rem;
  bottom: 2.208rem;
}
.third .third-img833 {
  width: 1.292rem;
  height: 0.5rem;
  left: 9.813rem;
  bottom: 2.417rem;
}
.third .third-img834 {
  width: 1.292rem;
  height: 0.5rem;
  left: 9.771rem;
  bottom: 2.625rem;
}
.third .third-img835 {
  width: 1.292rem;
  height: 0.5rem;
  left: 13.438rem;
  bottom: 2.042rem;
  z-index: 100;
}

.third .third-img9 {
  width: 4.188rem;
  left: 2.417rem;
  bottom: 2.229rem;
}
.third .third-img10 {
  width: 1.813rem;
  left: 4.958rem;
  bottom: 2.021rem;
}
.third .third-img11 {
  width: 2.75rem;
  left: 11.625rem;
  bottom: 2.375rem;
}
.third .third-img12 {
  width: 1.063rem;
  left: 10.542rem;
  bottom: 3.021rem;
}
.wallet {

}
.third p {
  font-size: 0.72rem;
  line-height: 1.48rem;
}
.third p span {
  font-size: 0.8rem;
  color: #ffc000;
}
.third .data2 {
  margin-left: 1rem;
  margin-top: 3.8rem;
}

/* 第四页 */
.fourth {
  background-size: cover;
  position: relative;
}
.fourth img {
  position: absolute;
}
.fourth .fourth-img1 {
  width: 6.25rem;
  top: 3rem;
  left: 4.73rem;
}
.fourth .fourth-img2 {
  width: 10.21rem;
  top: 5.5rem;
  left: 2.71rem;
}
.fourth .fourth-img3 {
  width: 1.52rem;
  top: 19.604rem;
  right: 2.375rem;
}
.fourth .fourth-img4 {
  width: 1.5rem;
  top: 20.104rem;
  left: 3.208rem;
}
.fourth .fourth-img5 {
  width: 0.75rem;
  top: 20.979rem;
  left: 7.396rem;
  z-index: 99;
}
.fourth .fourth-img6 {
  width: 0.75rem;
  top: 17.75rem;
  left: 4.604rem;
}
.fourth .fourth-img7 {
  width: 1.354rem;
  top: 15.229rem;
  right: 1.02rem;
}
.fourth .fourth-img8 {
  width: 1.875rem;
  top: 11.396rem;
  left: 1.313rem;
}
.fourth .fourth-img9 {
  width: 1.208rem;
  top: 17.708rem;
  right: 2.979rem;
}
.fourth .fourth-img10 {
  width: 1.188rem;
  top: 13.771rem;
  left: 2.917rem;
}
.fourth .fourth-img11 {
  width: 1rem;
  top: 12.808rem;
  right: 2.479rem;
}
.fourth .fourth-img12 {
  width: 1.146rem;
  top: 12.75rem;
  right: 2.979rem;
}
.fourth .fourth-img13 {
  width: 2rem;
  top: 15.042rem;
  left: 5.375rem;
}
.fourth .fourth-img14 {
  width: 7.479rem;
  top: 8.708rem;
  left: 4.021rem;
}
.fourth .fourth-img15 {
  width: 1.146rem;
  top: 8.896rem;
  right: 3.229rem;
}
.fourth .fourth-img16 {
  width: 0.688rem;
  top: 13.25rem;
  left: 0.917rem;
}

.fourth .fourth-img17 {
  width: 14.48rem;
  top: 15.04rem;
  left: 0.75rem;
}
.fourth .trophy {
  position: absolute;
  width: 5.979rem;
  height: 8.313rem;
  overflow: hidden;
  top: 11.833rem;
  left: 4.875rem;
}
.fourth .trophy .fourth-img18 {
  width: 5.979rem;
}
.fourth .canvas-keleyi {
  position: absolute;
  width: 8rem;
  top: 6.896rem;
  right: 3.9125rem;
  z-index: -100;
}
.fourth .fraction p {
  font-size: 1.48rem;
  color: #f6b617;
  text-align: center;
  margin-top: 8rem;
}

/* 第五页 */
.fifth {
  background-size: cover;
  position: relative;
  color: #e4f0fe;
}
.fifth img {
  position: absolute;
}
.fifth .score {
  margin-left: 0.68rem;
  margin-top: 2.8rem;
}
.fifth .star {
  width: 88%;
  padding: 0.4rem;
  margin-top: 0.4rem;
  border-radius: 0.4rem;
}
.score .star ul {
  border-bottom: dashed #6269a3 1px;
  line-height: 1.28rem;
  padding-bottom: 0.1rem;
}
.star span {
  font-size: 0.7rem;
  margin: 0 4.4rem 0 0.2rem;
}
.star li {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background: url(../images/fo-star1.png) no-repeat;
  background-size: 0.8rem 0.8rem;
}
.score .star .t-star {
  border: none;
}

.fifth .suggest {
  margin-left: 1rem;
  margin-top: 0.8rem;
}
.fifth p {
  font-size: 0.8rem;
  line-height: 1.48rem;
}
.fifth strong {
  display: inline-block;
  font-size: 0.56rem;
  padding: 0.2rem 0.4rem;
  margin: 0.6rem 0.24rem 0 0;
  background-color: #212a60;
  border-radius: 0.24rem;
  font-weight: 200;
  color: #fff;
}
.fifth .btn {
  position: absolute;
  top: 20.4rem;
  left: 25%;
  width: 50%;
  height: 1.48rem;
  border: none;
  outline: none;
  border-radius: 0.74rem;
  color: #fff;
  font-size: 0.72rem;
  box-shadow: 0 0.2rem 0.2rem #00001f;
  background-color: #f6b617;
  background: -webkit-linear-gradient(0deg,#f7d100,#db8900);
}
.fifth .btn:active {
  opacity: 0.8;
}