body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
html {
  height: 100%;
  background: #000038;
  background: -webkit-linear-gradient(90deg,#002a4a,#000037);
  overflow: hidden;
}
button, p {
    margin: 0;
    padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
/* swiper框架 */
.swiper-container {
  height: 100%;
  font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
.swiper-wrapper {
  height: 100%;
  position: relative;
}
.swiper-slide {
  transition: 800ms;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
}
/* 向下箭头 */
.arrow {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  z-index: 10;
  bottom: 1rem;
  left: 50%;
  margin-left: -0.625rem;
  font-size: 1rem;
}
.arrow img {
  width: 1.25rem;
  height: 1.25rem;
}
/* 画布流星 */
.stars {
  position: absolute;
  top: 0;
  left: 0; 
}
.img {
  position: absolute;
  top: 0.2rem;
  left: 0.36rem; 
  width: 96%;
}

/* 第一页 */
.first {
  background-size: cover;
  position: relative;
}
.first img {
  position: absolute;
}
.first .spom1 {
  width: 12.125rem;
  height: 12.125rem;
  position: absolute;
  top: 5rem;
  left: 1.92rem;
}
.first .spom2 {
  width: 11.292rem;
  height: 12.354rem;
  top: 3.884rem;
  left: 2.328rem;
}
.first .spom3 {
  width: 10.708rem;
  height: 2.792rem;
  left: 2.458rem;
  top: 15.4rem;
}
.first .spom4 {
  width: 10.708rem;
  left: 2.458rem;
  top: 19.4rem;
}
.first p {
  text-align: center;
  font-size: 0.72rem;
  font-weight: 100;
  margin-top: 21.4rem;
}
.first .btn {
  position: absolute;
  top: 23.4rem;
  left: 25%;
  width: 50%;
  height: 1.48rem;
  border: none;
  outline: none;
  border-radius: 0.74rem;
  color: #fff;
  font-size: 0.72rem;
  box-shadow: 0 0.2rem 0.2rem #00001f;
  background-color: #f6b617;
  background: -webkit-linear-gradient(0deg,#f7d100,#db8900);
}
.first .btn:active {
  opacity: 0.8;
}

/* 第二页 */
.second {
  background-size: cover;
  position: relative;
}
.second img {
  position: absolute;
}
.second img:nth-child(1) {
  width: 13rem;
  right: 0;
  top: 13rem;
}
.second img:nth-child(2) {
  width: 100%;
  right: 0;
  bottom: 0;
}
.second img:nth-child(3) {
  width: 3.48rem;
  right: 1rem;
  top: 8rem;
}
.second img:nth-child(4) {
  width: 1.28rem;
  left: 2rem;
  top: 24rem;
}
.second img:nth-child(5) {
  width: 1.48rem;
  left: 0;
  top: 12rem;
}
.second p {
  font-size: 0.72rem;
  line-height: 1.48rem;
}
.second p span {
  font-size: 1rem;
  color: #ffc000;
}
.second .data {
  margin-left: 1rem;
  margin-top: 6rem;
}

/* 第三页 */
.third img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}
.third p {
  position: absolute;
  top: 5rem;
  z-index: 88;
  font-size: 1rem;
  color: #fff;
  font-family: Miao;
}

/* 第四页 */
.fourth img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}
.fourth p {
  position: absolute;
  top: 5rem;
  z-index: 88;
  font-size: 1rem;
  color: #fff;
}
