body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
html {
  height: 100%;
  background: #f3f3f3;
  overflow: hidden;
}
button,
h3,
p,
strong,
em {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
.plat {
  position: absolute;
  width: 84%;
  top: 3.4rem;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 12;
}
.plate {
  display: flex;
  justify-content: center;
  border: 0.04rem solid #3a9efe;
  border-radius: 0.24rem;
  background-color: #fff;
}
.plate li {
  width: 1.4rem;
  height: 1.84rem;
  line-height: 1.84rem;
  font-size: 0.72rem;
  color: #3a9efe;
  text-align: center;
}
.plate .active {
  /* background-color: #f6b617; */
  border-right: 1px solid #3a9efe;
  border-left: 1px solid #3a9efe;
  z-index: 99;
}

.plate li .new {
  color: #ccc;
}
.plate li:nth-last-child(1) span {
  display: block;
  width: 0.52rem;
  height: 0.52rem;
  line-height: 0.44rem;
  font-size: 0.26rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0.24rem auto 0;
}
.plate li:nth-last-child(1) i {
  display: block;
  font-size: 0.4rem;
  line-height: 1rem;
  font-style: normal;
}
/* 按钮 */
.plat .btn {
  width: 100%;
  height: 1.6rem;
  border: 1px solid transparent;
  outline: none;
  border-radius: 0.24rem;
  background-color: #3a9efe;
  color: #fff;
  font-size: 0.72rem;
  margin-left: 50%;
  margin-top: 1rem;
  transform: translate(-50%, -10%);
}
.plat .btn:active {
  background-color: #0082ff;
}
.plat p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 3rem;
  color: #333;
  font-weight: 300;
}
.plat h3 {
  width: 100%;
  position: relative;
  font-size: 0.64rem;
  font-weight: 200;
  text-align: center;
  color: #888;
  margin-top: 0.48rem;
}
.plat strong {
  display: inline-block;
  font-size: 0.72rem;
  text-decoration: underline;
  color: #3a9efe;
}
.plat em {
  display: inline-block;
  font-size: 0.56rem;
  font-style: normal;
  font-weight: 200;
  line-height: 1.02rem;
  color: #999;
}
.plat h3::before,
.plat h3::after {
  content: "";
  position: absolute;
  top: 52%;
  background-color: #ccc;
  width: 36%;
  height: 1px;
}
.plat h3::before {
      left: 1%;
  }
.plat h3::after {
  right: 1%;
}

/* 键盘 */
.keyboard {
  background-color: #eceef1;
  position: absolute;
  bottom: 0;
  /* display: none; */
  z-index: 9999;
}
.keyboard .shut {
  height: 1.08rem;
  line-height: 1.08rem;
  text-align: right;
  padding: 0 0.32rem;
  font-size: 0.54rem;
  background-color: #f9f9f9;
  color: #333;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #eee;
}
.keyboard ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.32rem 0.16rem 0;
}
.keyboard li {
  width: 9%;
  height: 1.92rem;
  line-height: 1.92rem;
  text-align: center;
  border-radius: 0.32rem;
  background-color: #fff;
  font-size: 0.64rem;
  color: #333;
  margin: 0 0.16rem 0.32rem 0;
  box-shadow: 0 0.08rem 0 #aaa;
}
.keyboard li:active {
  background-color: #ccc;
}
.keyboard li:nth-child(10n) {
  margin-right: 0;
}
.keyboard li:nth-last-child(1) {
  width: 2.08rem;
}

/* 地区简称的键盘 */
.area {
  width: 100%;
  background-color: #eceef1;
  position: absolute;
  bottom: 0;
  display: none;
  z-index: 9999;
}
.area .shut {
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: right;
  padding: 0 0.32rem;
  font-size: 0.28rem;
  background-color: #f9f9f9;
  color: #333;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #eee;
}
.area ul {
  padding: 0.32rem 0.16rem 0;
}
.area .area-one,
.area .area-tow,
.area .area-three,
.area .area-four {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.area li {
  width: 9%;
  height: 2.04rem;
  line-height: 2.04rem;
  text-align: center;
  border-radius: 0.32rem;
  background-color: #fff;
  font-size: 0.64rem;
  color: #333;
  margin: 0 0.16rem 0.32rem 0;
  box-shadow: 0 0.08rem 0 #aaa;
}
.area li:active {
  background-color: #ccc;
}
.area li:nth-child(10n) {
  margin-right: 0;
}

/* 手机屏幕小于450px的屏幕 */
@media screen and (min-width: 450px) {
  .keyboard li,
  .area li {
    width: 1.32rem;
  }
}
/* 手机屏幕大于于370px的屏幕 */
@media screen and (max-width: 370px) {
  .keyboard li,
  .area li {
    /* width: 0.54rem; */
    width: 9%;
    height: 1.6rem;
    line-height: 1.6rem;
  }
  .plate li:nth-child(2) {
    margin-right: 0.2rem;
  }
  .plate li {
    width: 1.32rem;
  }
  .plate li:nth-last-child(1) span {
    display: block;
    line-height: 0.4rem;
    margin: 0.2rem auto 0;
  }
  .plate li:nth-last-child(1) i {
    display: block;
    font-size: 0.4rem;
    line-height: 0.64rem;
  }
}

/*  缴费详情 */
.detail {
  width: 100%;
  color: #333;
}
/* 缴费信息 */
.detail ul {
  margin: 0.48rem 0.24rem 0 0.24rem;
  border-bottom: 0.01rem solid #ccc;
  padding-bottom: 0.48rem;
  color: #333;
  border-radius: 0.24rem;
  box-shadow: 0 0.18rem 0.16rem #ccc;
  background-color: #88a4ff;
  background: -webkit-linear-gradient(180deg, #c6e3ff, #9dc8ff);
}
.detail li span {
  font-size: 0.64rem;
  line-height: 0.72rem;
  margin-left: 0.72rem;
}
.detail li i {
  font-size: 0.64rem;
  line-height: 0.48rem;
  margin-left: 0.6rem;
  color: #444;
  font-style: normal;
}
.detail li:nth-last-child(1) i {
  font-size: 1rem;
  color: #0082ff;
}
.detail .alipay {
  width: 100%;
  height: 1.6rem;
  border: 1px solid transparent;
  outline: none;
  border-radius: 0.24rem;
  background-color: #3a9efe;
  color: #fff;
  font-size: 0.72rem;
  margin-top: 0.8rem;
}
.detail .alipay:active {
  background-color: #0082ff;
}
